
#begone-admin textarea {
  width: 100%;
  height: 1.7em;
}

#begone-admin .begone-source {
  width: 50%;
}

#begone-admin .begone-translation {
  width: 50%;
}

#begone-admin .begone-enabled {
  text-align: center;
}

#begone-wrapper td {
	vertical-align: top;
}



