.begone-toggle
{
background: url('begone.png') no-repeat 0 0px;
top: 95%;
width: 14px;
height: 22px;
position: fixed;
z-index: 999;
left: 0;
background-position-x: right;
background-position-y: 0px;
}

.begone-toggle:hover {
  width: 55px;
}

.begone-on {
background-position-y: 0px;
}

.begone-off {
background-position-y: -22px;
}

html body.admin-menu-begone {
margin-top: 0px !important;
}

